body {
	background-color: #000;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	max-height: 100vh;
	
	color: #fff;
	font-family: "IBM Plex Sans", Calibri, sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}
body::-webkit-scrollbar {
	display: none;
}
p {
	font-size: 0.9em;
	font-weight: 400;
	color: #f2f2f2;
	a {
		text-decoration: none;
		color: #f2f2f2;
		border-bottom: 1px dashed #f2f2f2;
		transition: all 0.3s ease;
		&:hover {
			text-shadow: 0 0 20px #fff;
		}
	}
}
*::selection {
	background-color: rgba(255, 255, 255, 0.8);
	color: #1c1c1c;
}
.container {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}
*::selection {
	background-color: rgba(255, 255, 255, 0.8);
	color: #1c1c1c;
}
.japanese {
	font-size: 0.8em;
}
.source-caption {
	margin: 0;
	float: right;
	font-size: 0.6em;
	font-style: italic;
	opacity: 0.7;
}
