body {
	background-color: #000;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	max-height: 100vh;
	
	color: #fff;
	font-family: "IBM Plex Sans", Calibri, sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}

body::-webkit-scrollbar {
	display: none;
}
p {
	font-size: 0.9em;
	font-weight: 400;
	color: #f2f2f2;
}
.container {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}

*::selection {
	background-color: rgba(255, 255, 255, 0.8);
	color: #1c1c1c;
}
.japanese {
	font-size: 0.8em;
}