nav {
	z-index: 1;
	position: fixed;
	top: 85vh;
	margin: 0 0 0 50px;
	border-top: 1px solid #fff;
	transition: all 0.5s ease;
	&:before {
		content: "nav";
		position: absolute;
		top: -20px;
		font-size: 0.7em;
		font-weight: 500;
	}
}
nav li {
	display: inline-block;
	margin: 0 10px 5px 0;
	opacity: 0.3;
	transition: all 1s ease;
}
nav li a {
	color: white;
	text-decoration: none;
	border: none;
	transition: all 0.2s ease;
	&:hover {
		font-size: 1.2em;
		text-shadow: 0 0 20px #fff;
	}
}
.active {
	opacity: 1;
	&:before {
		content: '';
		display: block;
		position: relative;
		border: 6px solid transparent;
		border-top-color: #fff;
		width: 0;
		height: 0;
		top: 0;
		margin: 0 auto;
	}
}
.arrows-container {
	z-index: 1;
	position: fixed;
	top: 86vh;
	right: 2vw;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.5s ease;
	i {
		cursor: pointer;
		margin: 0 15px;
		transition: all 0.3s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.8);
			transition: all 0.3s ease;
		}
	}
}
.arrow-previous {
	visibility: hidden;
}

@media screen and (max-width: 800px) {
	nav {
		display: none;
	}
	.arrows-container {
		top: 83vh;
		right: 7vw;
	}
}
